<h1>Recipe Name: <%= @recipe.name %></h1>
<p>Complexity: <%= @recipe.complexity %></p>
<p>Genre: <%= @recipe.genre %></p>

<h2>Ingredients Needed</h2>
<ul>
<% @ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
<% end %>
</ul>

<div>

<p><strong>Total Cost: </strong> <%= @cost %><p/>