<h2><%= @recipe.name %></h2>
<p>Complexity: <%= @recipe.complexity %></p><br>
<p>Genre: <%= @recipe.genre %></p><br>
<h3>Ingredients</h3>
<section id="ingredients">
<% @ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>
</section><br>
<h3>Total Cost: <%= @recipe.total_cost %></h3>
<h4>Add an Ingredient</h4>
<%= form_with url:"/recipes/#{@recipe.id}", method: :post, data: {turbo: false} do |form| %>
  <%= form.label :add_ingredient, "Input Ingredient ID:" %><br>
  <%= form.select :add_ingredient, options_for_select(@ingredient_ids) %>
  <%= form.submit "Submit" %>
<% end %>