<h3><%= @recipe.name %></h3>
<h3>Complexity:<%= @recipe.complexity %></h3>
<h3>Genre:<%= @recipe.genre %></h3>

<h3>Ingredients:</h3>
<ul>
  <% @recipe.ingredient_names.each do |ingredient_name| %>
    <li><%= ingredient_name %></li>
  <% end %>
</ul>

<h3>Total Cost: <%= @total_cost %></h3>