<h1>Recipe: <%= @recipe.name %></h1>
<p>Recipe Complexity: <%= @recipe.complexity %></p>
<p>Recipe Genre: <%= @recipe.genre %></p>
<p>Ingredients: </p>


<% @ingredients.each do |ingredient| %>
  <ul>
  <li><%= ingredient.name %></li>
  </ul>
<% end %>

<p>Total Cost: <%= @cost %></p>

<h3>Add an Ingredient by inputting Ingredient ID: </h3>
<%= form_with url: "/recipes/#{@recipe.id}", method: :post, local: true do |f| %>
  <%= f.label :ingredient %>
  <%= f.text_field :ingredient %>

  <%= f.submit %>
<% end %>



