<h1>Name: <%= @recipes.name %></h1>
<h2>Complexity: <%= @recipes.complexity %></h2>
<h2>Genre: <%= @recipes.genre %></h2>

<% @recipes.ingredients.each do |ingredient| %>
   <li><%= ingredient.name %></li>
<% end %>

<h3>Total Cost:<%= @total_cost %></h3>