<h1><%= @recipe.name %></h1>
<h3>Complexity: <%= @recipe.complexity %></h3>
<h3>For: <%= @recipe.genre %></h3>
<% @ingredients.each do |ingredient| %>
  <p>a/an <%= ingredient.name %>
   costs: <%= ingredient.cost %></P>
 <% end %></br></br>

 <%= form_with url: "/recipe_ingredients", method: :post, data: { turbo: false} do |f| %>
  <%= f.label :name, "Add ingredient" %>
  <%= f.text_field :name %></br></br>
  <%= f.hidden_field :ingrediant_id, :value=> @recipe.id %>

  <%= f.submit "Add" %>
<% end %>

 Total Cost <%= @total_cost %>