<h1>Name: <%= @recipes.name %></h1>
<h2>Complexity: <%= @recipes.complexity %></h2>
<h2>Genre: <%= @recipes.genre %></h2>

<% @recipes.ingredients.each do |ingredient| %>
   <li><%= ingredient.name %></li>
<% end %>

<h3>Total Cost: <%= @recipes.total_cost %></h3>

<%= form_with url: "/recipes/#{@recipes.id}/ingredients" do |f| %>
  <%= f.label "Ingredient ID" %>
  <%= f.text_field :ingredient_id %>
  <%= f.submit "Add Ingredient" %>
<% end %>