<h1><%= @recipe.name %></h1>
<h3>Complexity: <%= @recipe.complexity %></h3>
<h3>For: <%= @recipe.genre %></h3>
<% @ingredients.each do |ingredient| %>
  <p>a/an <%= ingredient.name %>
   costs: <%= ingredient.cost %></P>
 <% end %></br></br>

 Total Cost <%= @total_cost %>